.card{
    display: flow-root;
    width:60%;
}
.card .left_column{
    width: 50%;
    float: left;
}
.card .right_column{
    width: 50%;
    float: right;
}
.image_container{
    width: 80px;
    height: 80px;  
}
.image_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
